<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broco</title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="shortcut icon" href="static/img/broco.png">
</head>

<body>
    <div class="game-container">
        <div class="title-container">
            <h1>Broco</h1>
        </div>
        <div class="message-container"></div>
        <div class="tile-container"></div>
        <div class="key-container"></div>
    </div>

    <script src="static/js/app.js"></script>
</body>

</html>
